.Header {
	display: flex;
	align-items: center;
	background-color: rgb(20, 20, 20);
	color: #23b5b5;
	height: 4.5rem;
	padding: 0 2rem;
}

.Header__logoContainer {
	border-radius: 5px;
	overflow: hidden;	
}

.Header__logoContainer--logo {
	width: 50px;
}

.Header__navigation {
	display: flex;
	padding-left: 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavBar__pages-link {
	text-decoration: none;
	color: #e5e5e5;
	margin: 5px;
}

.NavBar__pages-link:hover {
	color: #b3b3b3;
}

.Header__navigation--main {
	display: flex;
}

.Header__navigation--main-profile {
	border-radius: 50px;
	overflow: hidden;
	width: 40px;
	height: 40px;
}

.Header__navigation--main ul {
	display: none;
	list-style: none;
	padding: 0;
	position: absolute;
	text-align: right;
	margin: 0;
	right: 40px;
	top:3.5rem;
	padding-right:0;
	z-index: 4;
}

.Header__navigation--main:hover ul, ul:hover {
	display: block;
}

.Header__navigation--main li {
	margin: 10px 0;
}

.Header__navigation--main li a {
	color: white;
	text-decoration: none;
}

.Header__navigation--main li a:hover {
	text-decoration: underline;
}

.Header__navigation--main-search {
	display: flex;
	align-items: center;
	margin-right: 2rem;
	cursor: pointer;
}

.profile__image {
	width: 40px;
	height: 40px;
}

@media screen and (max-width: 720px) {
	.Header {
		justify-content: space-between;
	}

	.Header__navigation--main ul {
		display: none;
		list-style: none;
		padding: 0;
		position: absolute;
		text-align: right;
		margin: 0;
		right: 40px;
		top:3.5rem;
		padding-right:0;
		z-index: 4;
	}

	.Header__navigation {
		display: flex;
		padding-left: 5px;
		width: max-content;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

/*  MOBILE  */

.icon {
	color: white;
	font-size: 1.5rem;
}

.isMobile {
	background: rgba(0,0,0,.8);
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	bottom: 0;
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.isMobile a {
	color: white;
	font-size: 1.7rem;
}

.open {
	left: -100vw;
}

.burger-menu {
	color: white;
	font-weight: bold;
	font-size: 1.4rem;
	margin-left: 2rem;
}
