.Player {
    position: relative;
}

.isCover {
    height: calc(90vh - 5rem); 
}

.isPage {
    height: 100vh;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}